<div class="pr-confirmable-container">
    <div class="pr-confirmable pr-confirmable-{{ type|raw }}">
        {{ icon|raw }}
        <div>
            <div class="pr-confirmable-title">{{ title|raw }}</div>
            <p class="pr-confirmable-message">{{ message|raw }}</p>
        </div>
    </div>
</div>

