<div class="comments-container" data-post="{{ post|esc_attr }}" id="comments_container">
    <h2 class="sr-only">{{ title|raw }}</h2>
    {{ (comment_form ~ comment_list ~ loading_spinner)|raw }}
</div>

